
/* Sección de información académica */
.academic-info {
        margin-right: 40px;
        width: 50%;
        margin-left: 40px;
}

/* Tabla */
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table-container th {
    background-color: #28537E;
    color: white;
}

.checkmark {
    color: green;
}

/* Noticias */
.news-section {
    background-color: #28537E;
    color: white;
    padding: 8px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.news-content {
    border: 1px solid #ccc;
    padding: 10px;
}

.info-row {
    display: flex !important;
}
